/* app css stylesheet */
* {
    box-sizing: border-box;
    font-family: Verdana, Geneva, sans-serif;
}

.locations-list {
    top: calc(50% - 12em);
    position: absolute;
    left: calc(50% - 9em);
    width: 18em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

p {
    text-align: center;
    color: #cdcdcd;
}