.location {
    width: 6em;
    height: 6em;
}

.location:hover {
    opacity: 0.3;
    cursor: pointer;
}

.location .location-icon {
    display: block;
    margin: auto;
    width: 4em;
    height: 4em;
}

.location .location-label {
    font-size: 0.7em;
    text-align: center;
}