.forecast-view {
    position: absolute;
    left: calc(50% - 8em);
    margin-top: 10em;
    vertical-align: top;
    display: inline-block;
}

.forecast-view p {
    text-align: center;
    font-weight: bold;
    display: inline-block;
}

.forecast-view canvas {
    display: inline-block;
}